    <div class="container">

        <h1>Bienvenido a Chile es tuyo</h1>
        <h2>Nuestro proposito</h2>
        <p class=text-dark>blabla</p>
        <% if user_signed_in? %>
            <a type="button" class="btn text-white bg-primary link" href="<%= votes_path %>">Votar</a>
        <% else %>
            <a type="button" class="btn bg-dark text-white link" href="<%= new_user_session_path %>">Iniciar sesión</a>    
            <a type="button" class="btn bg-dark text-white link" href="<%= new_user_registration_path %>">Registrarse</a>            
        <% end %>


     
    </div>
