<div id="wrap">
    <div id="main" class=" clear-top bg-dark">
      <p id=center><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur sed praesentium nisi esse facilis! Maxime reiciendis, fugit vitae nam beatae adipisci numquam? Cumque rerum molestiae facilis unde corrupti consequuntur dolore?</b></p>
    </div>
</div>
<footer class="footer"></footer>